<% include header %>

<div role="main" class="container">
    <br/><br/>

    <h3>ABOUT</h3>
    <br>
    <br>
    <img src="" alt="My Profile Picture" class="profilePic" width="500" /><br><br>
    <hr>
    <h6>Heather Peterson was born in San Diego, California in 1986.  A proud mother of one with a dream to become a full-stack web developer.  Hobbies that she enjoys are bicycling, making jewelry, playing with her daughter, and exploring cities.  When she’s not plugging away on the computer, Heather enjoys cooking homemade meals for friends and loved ones, reading books and traveling the world.  As a student of Bellevue University, starting in June 2016, classes that have become of interest to her are HTML, CSS, and JavaScript.  Heather has the passion and desire to acquire skill in the study of web development.
    </h6>
</div>

<p><a href="#top">Return to Top</a></p>

<% include footer %>