<% include header %>

<div role="main" class="container">
    <br/><br/>

    <h3>GALLERY</h3>
    <br>
    <h6>BioSite
        <br>
        <br>
        <img src="" alt="BioSite Picture" class="bioSite" width="500" /><br><br>
        <hr>
        After starting back at school, I was very inspired to design a project that reflected my daughter.  Not only did this site inspire me, but it brought on a new form of memory she and I will always cherish.  The mind of a 7-year-old amazes me because they take on so much with their senses and surroundings at that time and begin developing a sense of character. I’ve watch all major milestones in her life and she never ceases to amaze me with her capabilities.  This one is for my dearest, Lilyanna Mae.
        <br>
        <br>
        <br>
        GitHub
        <br>
        <br>
        <img src="" alt="GitHub Picture" class="gitHub" width="500" /><br><br>
        <hr>
        GitHub was introduced early on my online schooling, and has become an excellent source for file storing.  My repositories contain HTML and JavaScript with many exercises, assignments, and projects provided by Bellevue University. </h4>
        </h6>
</div>

<p><a href="#top">Return to Top</a></p>

<% include footer %>