<% include header %>

<div role="main" class="container">
    <br/><br/>

    <h4><b><i>A Portfolio of An American Web Developer</i></b></h4>
    <h2><b>HEATHER PETERSON</b></h2>
    <h6>A devoted learner to the computer science and technical development.  
        Using modern and simple design in front-end work to portray a clean, 
        eye-catching UI experience.  Having a knowledgeable understanding of 
        back-end work in HTML, CSS, JavaScript.  Enrolled at Bellevue University, 
        NE and achieving a bachelor’s degree in web development with an anticipated 
        graduation of December 2018.  </h6>
</div>

<% include footer %>