body {
    text-align: center;
    font-family: 'Share Tech', sans-serif;
}

p {
    background-image: url("images/background.png");
}

.navbar {
    background: firebrick;
    text-align: right;
}

.navlogo {
    padding: 10px;
    text-align: left;
}

li {
    display: inline;
    margin-right: 10px;

}

h4 {
    color: red;
}

.titleName {
    color: black;
    font-size: 50px;
}

.heading{
    color: gray;
    font-size: 30px;
}

.link-main {
    color: white;
    text-decoration: none;
}

.link-main:hover {
    color: white;
    text-decoration: underline;
}

.link-middle {
    color: lightskyblue;
    text-decoration: none;
}
   
.link-middle:hover {
    color: blue;
}
