body{
    text-align: center;
    font-family: 'Share Tech', sans-serif;
}

li {
    display: inline;
    margin-right: 10px;

}

h4 {
    color: red;
}

.titleName{
    color: gray;
}

.heading{
    color: gray;
}